<div class="py-16">
    <div class="container xl:max-w-7xl mx-auto px-5">
        <div class="mx-auto max-w-2xl">
            <div class="grid gap-4 text-center">
                <h5 class="text-4xl">
                    Insa là tất cả những gì một chủ doanh nghiệp bán lẻ, người kinh doanh Online đang cần.
                </h5>
                <div>
                    <p class="font-light text-base text-gray-500">
                        Chúc mừng bạn đã có 7 ngày trải nghiệm miễn phí.
                    </p>
                    <p class="font-light text-base text-gray-500">
                        Nhanh tay đăng ký ngay!
                    </p>
                </div>

                <div class="mt-5">
                    <a href="https://authtest.insa.app/sign-up" class="btn inline-block text-white py-2 px-7"> Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</div>
