<ul>
    <li class="mb-3">
        <a href="https://www.facebook.com/InsaVietnam/" target="_blank" title="InsaVietnam">
            <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="11"
                height="25"
                viewBox="0 0 15 25"
                data-code="61594"
                data-tags="facebook,facebook-f"
            >
                <g fill="currentColor" transform="scale(0.02734375 0.02734375)">
                    <path
                        d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z"
                    />
                </g>
            </svg>
        </a>
    </li>

    <li class="mb-3">
        <a href="https://gco.vn/" target="_blank" title="Gco Group">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                />
            </svg>
        </a>
    </li>
    <!--
    <li class="mb-3">
        <a href="#">
            <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22"
                height="25"
                viewBox="0 0 25.999999999999996 28"
                data-code="61593"
                data-tags="twitter"
            >
                <g fill="currentColor" transform="scale(0.02734375 0.02734375)">
                    <path
                        d="M925.714 233.143c-25.143 36.571-56.571 69.143-92.571 95.429 0.571 8 0.571 16 0.571 24 0 244-185.714 525.143-525.143 525.143-104.571 0-201.714-30.286-283.429-82.857 14.857 1.714 29.143 2.286 44.571 2.286 86.286 0 165.714-29.143 229.143-78.857-81.143-1.714-149.143-54.857-172.571-128 11.429 1.714 22.857 2.857 34.857 2.857 16.571 0 33.143-2.286 48.571-6.286-84.571-17.143-148-91.429-148-181.143v-2.286c24.571 13.714 53.143 22.286 83.429 23.429-49.714-33.143-82.286-89.714-82.286-153.714 0-34.286 9.143-65.714 25.143-93.143 90.857 112 227.429 185.143 380.571 193.143-2.857-13.714-4.571-28-4.571-42.286 0-101.714 82.286-184.571 184.571-184.571 53.143 0 101.143 22.286 134.857 58.286 41.714-8 81.714-23.429 117.143-44.571-13.714 42.857-42.857 78.857-81.143 101.714 37.143-4 73.143-14.286 106.286-28.571z"
                    />
                </g>
            </svg>
        </a>
    </li>
    <li class="mb-3">
        <a href="#">
            <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22"
                height="25"
                viewBox="0 0 24 28"
                data-code="61580"
                data-tags="linkedin-square"
            >
                <g fill="currentColor" transform="scale(0.02734375 0.02734375)">
                    <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                    />
                </g>
            </svg>
        </a>
    </li>
    <li>
        <a href="#">
            <a href="#">
                <svg width="22" height="25" viewBox="0 0 24 28">
                    <g transform="scale(0.02734375 0.02734375)" fill="currentColor">
                        <path
                            d="M670.286 607.429c0-99.429-96.571-133.714-177.714-152l-59.429-13.714c-43.429-10.286-76-17.714-76-50.857 0-30.286 32-44 82.286-44 89.714 0 91.429 65.714 146.857 65.714 37.143 0 59.429-29.143 59.429-62.286 0-65.714-109.143-108.571-217.143-108.571-98.857 0-213.714 42.857-213.714 158.857 0 96 64 130.286 147.429 150.286l83.429 20.571c50.857 12.571 82.286 18.286 82.286 54.857 0 29.143-32.571 51.429-82.857 51.429-105.714 0-111.429-88-172.571-88-40 0-57.714 28.571-57.714 60 0 70.286 107.429 127.429 236 127.429 107.429 0 219.429-53.714 219.429-169.714zM877.714 731.429c0 121.143-98.286 219.429-219.429 219.429-50.286 0-96.571-17.143-133.714-45.714-27.429 5.714-56.571 9.143-85.714 9.143-222.286 0-402.286-180-402.286-402.286 0-29.143 3.429-58.286 9.143-85.714-28.571-37.143-45.714-83.429-45.714-133.714 0-121.143 98.286-219.429 219.429-219.429 50.286 0 96.571 17.143 133.714 45.714 27.429-5.714 56.571-9.143 85.714-9.143 222.286 0 402.286 180 402.286 402.286 0 29.143-3.429 58.286-9.143 85.714 28.571 37.143 45.714 83.429 45.714 133.714z"
                        ></path>
                    </g>
                </svg>
            </a>
        </a>
    </li>
--></ul>
