.logo {
    height: 19px;
    width: 64px;
}

.logo img {
    height: 19px;
    width: 64px;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu > li {
    margin-right: 30px;
    position: relative;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu > li > a {
    cursor: pointer;
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
}

.main-menu > li:hover > a,
.main-menu > li.active > a {
    color: var(--main-color);
}

ul.products li .icon {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: var(--main-padding);
    flex-shrink: 0;
}

ul.products li .icon {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: var(--main-padding);
    flex-shrink: 0;
}

ul.products li .icon img {
    display: block;
    height: 25px;
    width: 25px;
}

ul.products li a {
    display: flex;
    font-size: 13px;
    text-decoration: none;
    padding: 15px;
}

ul.products li h5 {
    font-size: 16px;
    font-weight: 500;
}

ul.products li p {
    margin-bottom: 0;
}

.toggle-menu {
    cursor: pointer;
    height: 18px;
    width: 20px;
    position: relative;
}

.toggle-menu::after,
.toggle-menu::before {
    content: '';
}

.toggle-menu i,
.toggle-menu::after,
.toggle-menu::before {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.toggle-menu i {
    top: 50%;
    margin-top: -1px;
}

.toggle-menu::before {
    top: 0;
}

.toggle-menu::after {
    bottom: 0;
}

.header-right .btn-trial {
    background: var(--main-color);
}

@media (min-width: 1024px) {
    .main-menu > li.dropdown:after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 6px;
        margin-left: 5px;
        background: url('/images/dropdown.svg');
    }

    .main-menu > li.dropdown:hover:after {
        background: url('/images/dropdown-hover.svg');
    }

    .main-menu li ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-out;
    }

    .main-menu li:hover ul {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    ul.products {
        width: 450px;
        display: grid !important;
        grid-gap: var(--main-padding);
        grid-template-columns: repeat(2, 1fr);
        border-radius: var(--border-radius);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: calc(var(--main-padding) + 5px);
    }

    ul.products li a {
        padding: 0;
    }
}

@media (max-width: 1023px) {
    .nav {
        position: fixed;
        z-index: 1000;
        overflow-y: auto;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: 90%;
        max-width: 360px;
        transition: transform 0.3s ease-out;
    }

    .nav.show {
        transform: translateX(0%);
    }

    .nav .main-menu > li {
        margin: 0;
        border-bottom: 1px solid #eee;
        padding: 5px 15px;
    }

    .nav .main-menu > li.dropdown > a {
        position: relative;
    }

    .nav .main-menu > li.dropdown > a::before,
    .nav .main-menu > li.dropdown > a::after {
        content: '';
        display: block;
        width: 10px;
        height: 2px;
        position: absolute;
        background: var(--main-color);
        right: 5px;
        top: 50%;
        margin-top: -1px;
    }

    .nav .main-menu > li.dropdown > a::after {
        transform: rotate(90deg);
    }

    .main-menu > li a {
        width: 100%;
    }

    .main-menu li ul {
        display: none;
    }

    .main-menu li .show {
        display: block;
    }

    .close-menu {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid #eee;
    }

    .close-menu .icon {
        display: block;
        height: 18px;
        width: 20px;
        position: relative;
    }

    .close-menu .icon::before,
    .close-menu .icon::after {
        content: '';
        display: inline-block;
        height: 18px;
        width: 2px;
        background: var(--main-color);
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -2px;
    }

    .close-menu .icon::before {
        transform: rotate(-45deg);
    }
    .close-menu .icon::after {
        transform: rotate(45deg);
    }

    .close-menu .logo {
        width: 64px;
        height: 19px;
    }

    .nav .main-menu > li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #eee;
        padding: 5px 15px;
        align-items: center;
    }

    .nav .main-menu > li:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    .main-menu > li a {
        display: block;
    }

    ul.products li a {
        padding: 15px 0;
    }

    .btn-signup {
        border: 1px solid #eee;
    }

    .gray {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
