@media (min-width: 768px) {
    .social .home-hero {
        background-image: url(../images/facebook-hero.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}
