<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <link href="/css/ReactToastify.css" rel="stylesheet" type="text/css" />

        <title>Insa - Nền tảng quản lý và bán hàng đa kênh</title>
    </head>
    <body>
        <div id="paymentRoot"></div>
        <script src="/js/payment/app.bundle.js"></script>
    </body>
</html>
