<% const urlStoreEncode=encodeURI(process.env.URL_STORE); %> <% const urlAuth=process.env.URL_AUTH +
'/sign-up' ; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Insa - Chính sách bảo mật</title>
    </head>

    <body class="social">
        <%- include('../partials/header.ejs'), {user: user} %>

        <main class="main">
            <div class="py-10 md:pt-20 md:pb-12 mb-12">
                <div class="container lg:max-w-5xl mx-auto px-10">
                    <div class="mb-8">
                        <h5 class="text-4xl">Chính sách bảo mật</h5>
                    </div>

                    <p class="mb-4">
                        INSA thấu hiểu được việc riêng tư và bảo mật thông tin cá nhân của người
                        dùng là rất quan trọng. Vì thế, Insa cam kết rằng tuyệt đối bảo vệ sự riêng
                        tư của người dùng khi sử dụng phần mềm INSA. Chính sách bảo mật dưới đây là
                        mô tả quá trình INSA thu thập và xử lý thông tin của người dùng sử dụng dịch
                        vụ INSA. Người dùng INSA đồng ý sử dụng dịch vụ của INSA có nghĩa là Người
                        dùng hoàn toàn đồng ý với các nội dung trong Chính sách bảo mật này Bạn phải
                        đọc, đồng ý và chấp nhận tất cả các điều khoản và điều kiện có trong chính
                        sách bảo mật này, bao gồm Điều khoản sử dụng và Chính sách bảo mật của INSA
                        trước khi bạn có thể sử dụng Dịch vụ.
                    </p>
                    <p class="font-bold mb-1">
                        1. Những thông tin INSA cần thu thập từ người dùng:
                    </p>
                    <p class="mb-1">
                        Trên phần mềm INSA, để có thể sử dụng đầy đủ các tiện ích, người dùng cần
                        phải đăng ký thành viên và cung cấp nhưng thông tin cá của mình bào gồm:
                    </p>
                    <ul class="list-inside list-disc mb-1">
                        <li>Tên công ty, cửa hàng, đơn vị kinh doanh</li>
                        <li>Họ tên, tuổi, địa chỉ cư trú</li>
                        <li>Email, số điện thoại di động, số điện thoại bàn</li>
                        <li>
                            Thông tin IT (địa chỉ IP, dữ liệu sử dụng, dữ liệu cookie, dữ liệu trình
                            duyệt); thông tin tài chính (chi tiết thẻ tín dụng, chi tiết tài khoản,
                            thông tin thanh toán). Chúng tôi sử dụng nhà cung cấp dịch vụ bên thứ ba
                            để xử lý các giao dịch thẻ tín dụng của bạn. Các bên thứ ba này được chi
                            phối bởi các thỏa thuận của riêng họ.
                        </li>
                        <li>
                            Những nội dung do người dùng tự tạo: về sản phẩm, dịch vụ, số lượng kho
                            hàng, thông tin khách hàng,…
                        </li>
                        <li>
                            Những thông tin đồng bộ tự động từ những nền tảng liên kết của người
                            dùng.
                        </li>
                    </ul>
                    <p class="mb-4">
                        Lưu ý: Về thông tin cá nhân nhạy cảm. Chúng tôi yêu cầu bạn không gửi hoặc
                        tiết lộ cho chúng tôi bất kỳ thông tin cá nhân nhạy cảm nào (ví dụ: số an
                        sinh xã hội, thông tin liên quan đến nguồn gốc chủng tộc hoặc dân tộc, ý
                        kiến chính trị, tôn giáo hoặc tín ngưỡng, sức khỏe, sinh trắc học hoặc đặc
                        điểm di truyền khác, lý lịch tội phạm hoặc thành viên công đoàn) trên hoặc
                        thông qua Dịch vụ hoặc bằng cách khác.
                    </p>
                    <p class="font-bold mb-1">
                        2. INSA lưu trữ và bảo mật thông tin cá nhân của người dùng ở đâu?
                    </p>
                    <p class="mb-1">
                        Địa chỉ của đơn vị thu thập, quản lý thông tin và hỗ trợ người dùng:<br />
                        Công ty TNHH Insa Việt Nam<br />
                        Trụ sở chính: Tầng 8 tòa nhà Toyota, 315 Trường Chinh, Quận Thanh Xuân, Hà
                        Nội<br />
                        Số điện thoại: (024)7 309 8885<br />
                    </p>
                    <p class="mb-1">
                        INSA lưu trữ và bảo mật thông tin cá nhân của người dùng trên máy chủ của hệ
                        thống. Được bảo vệ nó bằng các biện pháp bảo vệ vật lý, điện tử bao gồm:
                        tường lửa, mã hóa dữ liệu và thủ tục áp dụng theo quy định của luật bảo mật
                        thông tin.
                    </p>
                    <p class="mb-4">
                        Toàn bộ dữ liệu của người dùng vẫn sẽ được lưu trữ trên hệ thống trong một
                        khoảng thời gian nhất định sau khi đã chấm dứt hợp đồng cung ứng phần mềm
                        hoặc kể từ khi khách hàng ngưng sử dụng phần mềm. Nếu bạn có bất kỳ yêu cầu
                        về xóa dữ liệu trên cơ sở dữ liệu của chúng tôi, bạn có thể gửi email cho
                        chúng tôi, INSA sẽ xử lý yêu cầu của bạn trong vòng 30 ngày kể từ khi xác
                        nhận bằng email.
                    </p>
                    <p class="font-bold mb-1">
                        3. INSA sử dụng thông tin của người dùng để làm gì?
                    </p>
                    <p class="mb-1">
                        - Những thông tin cá nhân của người dùng sẽ được sử dụng để nhận dạng, liên
                        lạc hoặc xác định vị trí người mà thông tin đó liên quan. Những thông tin
                        này có thể cập nhật hoặc sửa đổi theo thời gian sử dụng của người dùng.
                    </p>
                    <p class="mb-1">
                        - Những thông tin về doanh nghiệp như: tên, địa chỉ email, địa chỉ thanh
                        toán, mã số thuế và thông tin thẻ tín dụng. Đây là những thông tin bạn cần
                        cung cấp khi sử dụng dịch vụ có trả phí của INSA. Nếu bạn chỉ dùng thử phần
                        mềm thì không cần thiết phải cung cấp chúng.
                    </p>
                    <p class="mb-1">
                        Ngoài ra, INSA còn sử dụng những thông tin của người dùng thu thập trong quá
                        trình sử dụng phần mềm để:
                    </p>
                    <ul class="mb-1">
                        <li>
                            Cung cấp thông tin, các dịch vụ và sự hỗ trợ cho người dùng khi được yêu
                            cầu.
                        </li>
                        <li>Gửi email thông báo các chương trình, sự kiện của INSA.</li>
                        <li>
                            Giải quyết các tranh chấp, các vấn đề phát sinh liên quan đến việc sử
                            dụng phần mềm.
                        </li>
                        <li>
                            Ngăn chặn các hoạt động phạm pháp hoặc bị cấm được nêu trong Điều khoản
                            sử dụng.
                        </li>
                        <li>
                            Đo lường hiệu quả sử dụng của người dùng nhằm nâng cấp và cải thiện phần
                            mềm.
                        </li>
                        <li>
                            So sánh, đối chiếu tính chính xác của thông tin mà Người dùng INSA cung
                            cấp với bên thứ ba.
                        </li>
                        <li>
                            Các mục đích khác được phép theo quy định của pháp luật và INSA sẽ có
                            thông báo cho Người sử dụng trong từng trường hợp cụ thể.
                        </li>
                    </ul>
                    <p class="mb-4">
                        INSA cam kết sẽ tuyệt đối giữ kín mọi thông tin của Người dùng khi sử dụng
                        các phần mềm, ứng dụng và sẽ không tiết lộ cho bên thứ ba trừ khi có sự chấp
                        thuận của Người dùng hoặc yêu cầu từ các cơ quan nhà nước có thẩm quyền hoặc
                        pháp luật cho phép.
                    </p>
                    <p class="font-bold mb-1">
                        4. Quyền Của người dùng/ Khách Hàng Đối Với Thông Tin Cá Nhân
                    </p>
                    <p class="mb-1">
                        Khách hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có thể thay
                        đổi quyết định đó vào bất cứ lúc nào.
                    </p>
                    <p class="mb-4">
                        Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân của
                        mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc
                        yêu cầu chúng tôi thực hiện việc này.
                    </p>
                    <p class="font-bold mb-1">5. Sự bảo mật</p>
                    <p class="mb-4">
                        Nhiệm vụ của chúng tôi là bảo mật thông tin của bạn. Khi bạn nhập nhưng
                        thông tin mật như số thẻ tín dụng vào mẫu đăng ký của chúng tôi, chúng tôi
                        mã hóa việc truyền tải thông tin bằng cách sử dụng công nghệ mã hóa an toàn
                        SSL - Secure Sockets Layer. Không có phương pháp truyền qua Internet, hoặc
                        phương pháp lưu trữ điện tử, là 100% an toàn. Vì vậy, trong khi chúng tôi cố
                        gắng sử dụng phương tiện mã hóa an toàn để bảo vệ thông tin cá nhân của bạn,
                        chúng tôi không thể đảm bảo an ninh tuyệt đối.
                    </p>
                    <p class="font-bold mb-1">6. INSA có thể chia sẻ dữ liệu của bạn với ai?</p>
                    <p class="mb-1">
                        Như đã nói ở trên, thông tin bảo mật của bạn sẽ không được câp cấp cho bất
                        kỳ bên thứ 3 nào. Tùy nhiên, vẫn có một số trường hợp ngoại lệ mà các cá
                        nhân tổ chức vẫn tiếp cận được thông tin người dùng INSA như:
                    </p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Những thông tin người người INSA tự công khai.</li>
                        <li>INSA được người dùng chấp thuận việc công khai này.</li>
                        <li>
                            Người dùng ủy quyền cho bên thứ 3 được thu thập thông tin tại phần mềm
                            INSA.
                        </li>
                        <li>
                            Theo yêu cầu pháp lý hay từ một cơ quan nhà nước hoặc nếu INSA tin rằng
                            hành động đó là cần thiết nhằm tuân theo các yêu cầu pháp lý hoặc chiếu
                            theo luật pháp
                        </li>
                        <li>
                            Bảo vệ quyền, lợi ích, tài sản, sự an toàn của một ai khác trên cơ sở
                            cân bằng lợi ích của tất cả các bên liên quan.
                        </li>
                        <li>
                            Cho các bên thứ ba khác mà INSA có liên doanh, liên kết để cung cấp các
                            dịch vụ trên INSA mà người dùng cũng đang sử dụng.
                        </li>
                    </ul>
                    <p class="font-bold mb-1">7. Cookies</p>
                    <p class="mb-1">
                        - Cookie là một file dữ liệu được đặt trên đĩa cứng của Người dùng INSA bởi
                        máy chủ của INSA. Được sử dụng nhằm cá nhân hóa và nâng cao hiệu quả sử dụng
                        thời gian trực tuyến của khách hàng. Đôi khi chúng tôi có thể sử dụng
                        "cookie" để cho phép chúng tôi hoặc các bên thứ ba thu thập hoặc chia sẻ
                        thông tin sẽ giúp chúng tôi cải thiện Nền tảng của mình và Các Dịch Vụ chúng
                        tôi cung cấp, hoặc giúp chúng tôi đưa ra các dịch vụ và tính năng mới.
                    </p>
                    <p class="mb-4">
                        - Bạn có thể từ chối sử dụng cookie bằng cách chọn các thiết lập thích hợp
                        trên trình duyệt của bạn. Tuy nhiên, vui lòng lưu ý rằng nếu bạn thực hiện
                        thao tác này bạn có thể không sử dụng được các chức năng đầy đủ của Nền tảng
                        hoặc Các Dịch Vụ của chúng tôi.
                    </p>
                    <p class="font-bold mb-1">8. Sự riêng tư của trẻ em</p>
                    <p class="mb-4">
                        Đây là một trang web dành cho đối tượng chung và không cung cấp các dịch vụ
                        dành cho trẻ em. Nếu một cá nhân mà chúng tôi biết là dưới 18 tuổi gửi thông
                        tin cá nhân cho chúng tôi, chúng tôi sẽ chỉ sử dụng thông tin đó để trả lời
                        trực tiếp cho cá nhân đó để thông báo cho họ rằng chúng tôi phải có sự đồng
                        ý của cha mẹ trước khi nhận được thông tin cá nhân của họ.
                    </p>

                    <p class="font-bold mb-1">
                        9. INSA thay đổi về chính sách bảo mật thì như thế nào?
                    </p>
                    <p class="mb-4">
                        Insa hoàn toàn có quyền thay đổi chính sách này bât cứ lúc nào. Nội dung
                        chỉnh sử của chính sách sẽ được đăng một bản sửa đổi lên hệ thống, phiên bản
                        sửa đổi có hiệu lực kể từ thời điểm đăng tải. Hoặc có thể được thông báo đến
                        người dùng ở cách kênh thông mà INSA đã thu thập. Nếu Người dùng tiếp tục sử
                        dụng Dịch vụ, INSA sẽ hiểu rằng Người dùng chấp nhận và chắc chắn đồng ý
                        tuân theo Điều khoản sử dụng mới nhất được cập nhật. Vì thế, người người
                        INSA phải thường xuyên cập nhật và xem xét nó.
                    </p>
                    <p class="font-bold mb-1">LIÊN HỆ VỚI CHÚNG TÔI</p>
                    <p>
                        Nếu bạn cần thêm thông tin hoặc có bất kỳ câu hỏi nào về Chính sách Bảo mật
                        của INSA, vui lòng liên hệ với chúng tôi qua email tại
                        <a
                            href="mailto:info@insa.com"
                            class="text-blue-500 hover:text-blue-300 font-medium"
                            >info@insa.com</a
                        >
                    </p>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
