<% const urlStoreEncode=encodeURI(process.env.URL_STORE); %> <% const urlAuth=process.env.URL_AUTH +
'/sign-up' ; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Insa - Điều khoản sử dụng</title>
    </head>

    <body class="social">
        <%- include('../partials/header.ejs'), {user: user} %>

        <main class="main"> 
            <div class="py-10 md:pt-20 md:pb-12 mb-12">
                <div class="container lg:max-w-5xl mx-auto px-10">
                    <div class="mb-8">
                        <h5 class="text-4xl">Điều khoản sử dụng</h5>
                    </div>

                    <p class="mb-4">
                        Các điều khoản sau đây ("Điều khoản sử dụng") mô tả các điều khoản và điều kiện áp dụng cho việc
                        khách hàng, người dùng của INSA (“sau đây gọi chung là BẠN”) truy cập và sử dụng ứng dụng, dịch vụ
                        (tại website Insa.app) của chúng tôi cũng như bất kỳ phần mềm và sản phẩm liên quan nào.
                    </p>
                    <p class="mb-4">
                        Các Điều khoản Sử dụng này áp dụng đối với tất cả các Dịch vụ được sở hữu và cung cấp bởi INSA
                        Việt Nam như: Insa Pos, Insa Facebook, Insa Website, Insa Shopee, Insa Shipping,...
                    </p>
                    <p class="mb-4">
                        Bạn phải đọc và chấp nhận tất cả các điều khoản dưới đây của chúng tôi trước khi bạn có thể sử dụng
                        Dịch vụ INSA.
                    </p>
                    <p class="font-bold mb-1">
                        1. Thông tin về chúng tôi
                    </p>
                    <ul class="list-inside list-disc mb-4">
                        Tên: CÔNG TY TNHH INSA VIỆT NAM<br />
                        Trụ sở chính: Tầng 8 tòa nhà Toyota, 315 Trường Chinh, Quận Thanh Xuân, Hà
                        Nội<br />
                        Số điện thoại: (024)7 309 8885<br />
                        Hỗ trợ:
                    </ul>
                    <p class="font-bold mb-1">
                        2. Định nghĩa
                    </p>
                    <p class="mb-1">
                        “INSA/ Chúng tôi” – Công ty TNHH Insa Việt Nam
                    </p>
                    <p class="mb-1">
                        “Dịch vụ” – Dịch vụ cung cấp Phần mềm quản lý bán hàng chạy dưới tên miền <a href="http://www.insa.app" class="text-blue-500 hover:text-blue-300 font-medium"> www.insa.app </a> và trên các ứng dụng liên quan thuộc quyền sở hữu của INSA.
                    </p>
                    <p class="mb-1">
                        “Website” – Trang thông tin điện tử khi truy cập địa chỉ <a href="http://www.insa.app" class="text-blue-500 hover:text-blue-300 font-medium"> www.insa.app </a> 
                    </p>
                    <p class="mb-1">
                        “Nội dung” – Thông tin, Hình ảnh, biểu tượng, bài viết, video được đăng trên Website, Ứng dụng
                    </p>
                    <p class="mb-1">
                        “Chủ tài khoản” – Người đăng ký ban đầu/ người giữ tài khoản quản trị/ người truy cập tài khoản cửa hàng bằng tài khoản quản trị.
                    </p>
                    <p class="mb-1">
                        “Người dùng/ khách hàng” – Là Người đăng kí, tạo tài khoản, sử dụng các phần mềm của INSA trên Website và được INSA chấp nhận sự đăng ký đó và sử dụng cách dịch vụ mà INSA cung cấp.
                    </p>
                    <p class="mb-1">
                        "Bên thứ ba" - Khách hàng, đối tác, nhà cung cấp của khách hàng hoặc của INSA.
                    </p>
                    <p class="mb-1">
                        “Khu vực chung” – Trang chủ của Insa; màn hình đăng nhập; footer các trang, khu vực logo các trang trên giao diện chung của INSA.
                    </p>
                    <p class="mb-4">
                        “Khu vực riêng” – Trang màn hình bán hàng, phần nội dung các trang quản lý sàn giao dịch riêng của bạn.
                    </p>
                    <p class="font-bold mb-1">
                        3. Tài khoản INSA 
                    </p>
                    <p class="mb-1">
                        - Để có thể truy cập và sử dụng các dịch vụ của chúng tôi, bạn cần phải cung cấp nhưng thông tin như: email, số điện thoại để tạo và đăng nhập vào tài khoản INSA. Bạn cần phải xác thực những thông tin cung cấp và cập nhật chính xác nó thường xuyên. Việc bạn không duy trì thông tin tài khoản INSA chính xác, đầy đủ có thể dẫn đến việc chấm dứt Tài khoản của bạn hoặc bạn không thể truy cập và sử dụng Dịch vụ.
                    </p>
                    <p class="mb-1">
                        - Là người dùng Tài khoản INSA, bạn cũng phải tuân theo Điều khoản sử dung/ Chính sách bảo mật của INSA và bất kỳ điều khoản áp dụng nào khác liên quan. 
                    </p>
                    <p class="mb-1">
                        - Bạn cần xác nhận và chấp thuận việc dịch vụ có thể truy cập và sửa đổi dữ liệu lưu trữ cho tài khoản của bạn. Bạn phải chịu khách nhiệm về việc bào mật và bí mật thông tin tài khoản INSA sao gồm tên người dùng và mật khẩu tài khoản của mình mọi lúc mọi nơi. Nếu trường hợp bạn phát hiện tài khoản của mình đang bị vi phạm bảo mật, tổn thất, truy cập trái phép… cần thông báo ngay đến chúng tôi để kịp thời xử lý và hỗ trợ. Chúng tôi không thể và sẽ không chịu trách nhiệm cho bất kỳ tổn thất hoặc thiệt hại nào do bạn không duy trì tính bảo mật của Tài khoản của bạn.
                    </p>
                    <p class="mb-4">
                        - Người đăng ký tài khoản INSA sẽ là người có quyền sử dụng, sở hữu, chấm dức hợp đồng với chúng tôi. 
                    </p>
                    <p class="font-bold mb-1">
                        4. Quy định giao dịch chung
                    </p>
                    <p class="mb-1">
                        - Bạn không được sử dụng Dịch vụ của chúng tôi cho bất cứ mục đích trái phép hoặc bất hợp pháp nào cũng như khi sử dụng Dịch vụ, bạn không được vi phạm bất kỳ luật nào trong khu vực pháp lý mà bạn hoạt động.
                    </p>
                    <p class="mb-1">
                        - Bạn đồng ý không tái dựng, nhân bản, sao chép, mua bán, hoặc khai thác bất kỳ phần nào của Dịch vụ, việc sử dụng Dịch vụ hoặc truy cập vào Dịch vụ mà không có sự cho phép rõ ràng bằng văn bản của chúng tôi.
                    </p>
                    <p class="mb-4">
                        - Bạn không được mua công cụ tìm kiếm hoặc từ khóa trả tiền cho mỗi nhấp chuột khác (chẳng hạn như Google Ads), nhãn hiệu hoặc tên miền sử dụng nhãn hiệu của INSA và/hoặc biến thể hay lỗi chính tả của chúng.
                    </p>
                    <p class="font-bold mb-1">5. Tạm ngưng, chấm dứt cung cấp dịch vụ</p>   
                    <p class="mb-1">
                        Insa có quyền tạm dừng hoặc chấm dứt cung cấp tất cả dịch vụ mà không hoàn lại chi phí cho bạn trong những trường hợp vi phạm dưới đây:
                    </p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Trường hợp nêu tại Mục 4 của bản Điều khoản sử dụng này về quy định sử dụng chung.</li>
                        <li>
                            Bạn tạo hoặc gửi liên kết/ trung chuyển cho các dữ liệu mang tính chất bất hợp pháp, đe doạ, lừa dối, thù hằn, xuyên tạc, nói xấu, tục tĩu, khiêu dâm, xúc phạm… hay các hình thức bị pháp luật Việt Nam ngăn cấm khác dưới bất kỳ cách thức nào.
                        </li>
                        <li>
                            Bạn sử dụng để nhằm mục đích phá hoại website khác
                        </li>
                        <li>
                            Bạn dùng INSA để lưu trữ, truyền bá văn hóa phẩm đồi trụy, truyền đạo, cấu kết với tội phạm hoặc vi phạm luật sở hữu trí tuệ.
                        </li>
                        <li>
                            Bạn dùng các chương trình làm tắc nghẽn, đình trệ hệ thống dẫn truyền, gây cạn kiệt tài nguyên, bộ lưu trữ của hệ thống chúng tôi.
                        </li>
                        <li>
                            Bạn bị tấn công bởi một bên thứ 3, làm ảnh hưởng đến hệ thống truyền dẫn của INSA. Trong trường hợp ban bạn bị tấn công Insa sẽ tạm dừng tài khoản INSA của bạn, xử lý khắc phục sự cố và khôi phục lại tài khoản INSA hỗ trợ giúp bạn nếu có thể. 
                        </li>
                        <li>
                            Bạn có những vi phạm khác mà các cơ quan nhà nước có thẩm quyền yêu cầu đóng tài khoản.
                        </li>
                        <li>
                            Bạn không thanh toán các chi phí đúng hạn.
                        </li>
                        <li>
                            Bạn có hành vi làm ảnh hưởng đến uy tín và thương hiệu của INSA trên các phương tiện thông tin đại chúng.
                        </li>
                        <li>
                            Trường hợp khác mà Pháp luật có quy định.
                        </li>
                    </ul>
                    <p class="font-bold mb-1">6. Dịch vụ của bên thứ 3</p>
                    <p class="mb-1">
                        - Insa hoàn toàn có thể cho liên hết với các bên thứ 3 để có thể hoàn thiện và phát triển các tính năng của phần mềm. Bạn cần hiểu và chấp nhận rằng việc bạn có thể đang sử dụng các dịch vụ liên hết với bên thứ 3 nằm ngoài thỏa thuận ban đầu với chúng tôi. Bạn phải tự chịu mọi trách nhiệm liên quan đén việc sử dụng dịch vụ liên kết do các bên thứ 3 cung cấp. 
                    </p>
                    <p class="mb-1">
                        - Khi bạn sử dụng dịch vụ có liên hết với bên thứ 3, có nghĩa là bạn đã hiếu và chấp nhận các điều khoản sử dụng khi liên hết với bên thứ 3 về việc chia sẻ thông tin, dữ liệu cần thiết khi sử dụng dịch vụ. 
                    </p>
                    <p class="mb-1">
                        - Insa sẽ không chiu trách nhiệm và không cung cấp bảo đảm vào đối với dịch vụ bên thứ 3. Vì chúng tôi hoàn toàn không có quyền kiểm soát dịch vụ bên thứ 3 và cũng không có nghĩa vụ pháp lý với họ. Khi có bất kỳ trường hợp nào xảy ra, chúng tôi sẽ chuyển giao cho nhà cung cấp bên thứ 3 thực hiện xử lý mà không phải Insa xử lý. 
                    </p>
                    <p class="mb-4">
                        - Khi sử dụng dịch vụ có liên kết với bên thứ 3, cho dù có bất kỳ cảnh báo nguy hiểm nào từ chúng tôi mà bạn đã chấp nhận sử dụng thì mọi trường hợp xảy ra thì chúng tôi sẽ không có bất kỳ trách nhiệm và nghĩa vụ pháp lý nào. 
                    </p>
                    <p class="font-bold mb-1">7. Quyền sở hữu trí tuệ</p>
                    <p class="mb-1">
                        Website INSA thuộc bản quyền của CÔNG TY TNHH INSA VIỆT NAM
                    </p>
                    <p class="mb-1">
                        Do đó, tất cả nội dung tại Website <a href="http://www.insa.app/" class="text-blue-500 hover:text-blue-300 font-medium">www.insa.app</a> đều thuộc sở hữu của INSA. INSA cho phép bạn được xem, tải về và in những nội dung sau:
                    </p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Các thông tin, nội dung được INSA công khai trên website, phần mềm.</li>
                        <li>
                            Những thông tin trên Insa nhưng thuộc quyền sở hữu của bạn.

                        </li>
                        <li>
                            Khi sử dụng các thông tin tại Website, bạn cần trích dẫn nguồn từ Website theo đúng quy định, chỉ sử dụng vào các mục đích phi lợi nhuận. 
                        </li>
                    </ul>
                    <p class="font-bold mb-1">8. Chính sách bảo mật và thông tin cá nhân</p>
                    <p class="mb-4">
                        Vui lòng truy cập Chính sách bảo mật INSA để xem thêm chi tiết.
                    </p>

                    <p class="font-bold mb-1">
                        9. Phí sử dụng
                    </p>
                    <p class="mb-1">
                        Bạn thanh toán chi phí dịch vụ khi sử dụng dịch vụ INSA bằng 2 cách:
                    </p>
                    <ul class="list-disc list-inside mb-1">
                        <li>Tiền mặt</li>
                        <li>Chuyển khoản qua hệ thống thanh toán</li>
                    </ul>
                    <p class="mb-1">
                        Sau khi thanh toán, bạn sẽ được chúng tôi xác nhận quá email hoặc số điện thoại. 
                    </p>
                    <p class="mb-1">
                        Chúng tôi sẽ thông báo chi phí khi có bất cứ thay đổi nào của bảng giá cho bạn qua email hoặc website. 
                    </p>
                    <p class="mb-4">
                        Chúng tôi không hỗ trợ hoàn tiền trong bất kỳ trường hợp nào. 
                    </p>
                    <p class="font-bold mb-1">
                        10. Từ chối bảo hành, giới hạn trách nhiệm pháp lý
                    </p>
                    <p class="mb-1">
                        BẠN PHẢI HIỂU RÕ VÀ CHẤP NHẬN RẰNG INSA SẼ KHÔNG CHỊU TRÁCH NHIỆM CHO BẤT KỲ THIỆT HẠI DÙ TRỰC TIẾP HAY GIÁN TIẾP/ NGẪU NHIÊN. ĐẶC BIỆT, MANG TÍNH KẾT QUẢ HOẶC BỒI THƯỜNG THIỆT HẠI THEO HÌNH THỨC TRỪNG PHẠT NÀO. BAO GỒM NHƯNG TRƯỜNG HỢP NHƯ: KHÔNG GIỚI HẠN, THIỆT HẠI CHO TỔN THẤT LỢI NHUẬN, TÍN NHIỆM, VIỆC SỬ DỤNG, DỮ LIỆU HOẶC TỔN THẤT VÔ HÌNH KHÁC GÂY RA TỪ SỬ DỤNG HOẶC KHÔNG CÓ KHẢ NĂNG SỬ DỤNG DỊCH VỤ. BỞI VÌ MỘT SỐ KHU VỰC PHÁP LÝ KHÔNG CHO PHÉP LOẠI TRỪ HOẶC GIỚI HẠN TRÁCH NHIỆM PHÁP LÝ ĐỐI VỚI CÁC THIỆT HẠI MANG TÍNH KẾT QUẢ HOẶC PHÁT SINH THÊM, TRONG CÁC KHU VỰC PHÁP LÝ ĐÓ, TRÁCH NHIỆM PHÁP LÝ CỦA CHÚNG TÔI SẼ ĐƯỢC GIỚI HẠN TRONG PHẠM VI TỐI ĐA ĐƯỢC PHÁP LUẬT CHO PHÉP.
                    </p>
                    <p class="mb-1">
                        CAM KẾT RẰNG INSA, CÁN BỘ CÔNG NHÂN VIÊN, GIÁM ĐỐC, NHÂN VIÊN, ĐẠI LÝ VÀ CÁC CHI NHÁNH CŨNG NHƯ NGƯỜI CẤP PHÉP CỦA NÓ KHÔNG BỊ THIỆT HẠI KHỎI TẤT CẢ CÁC KHIẾU NẠI, TỔN THẤT, THIỆT HẠI, HÌNH PHẠT, TRÁCH NHIỆM PHÁP LÝ VÀ CHI PHÍ, BAO GỒM CHI PHÍ LUẬT SƯ, DƯỚI BẤT KỲ HÌNH THỨC HOẶC BẢN CHẤT NÀO LIÊN QUAN ĐẾN KHIẾU NẠI NÀO.
                    </p>
                    <p class="mb-4">
                        CHÚNG TÔI KHÔNG CÓ NGHĨA VỤ PHẢI CẬP NHẬT HAY SỬA ĐỔI THÔNG TIN TRONG DỊCH VỤ, BAO GỒM NHƯNG KHÔNG GIỚI HẠN, THÔNG TIN GIÁ CẢ, TRỪ KHI CÓ CÁC BAN CHỨC NĂNG HAY PHÁP LUẬT YÊU CẦU. KHÔNG CÓ NGÀY CẬP NHẬT MỚI CỤ THỂ NÀO ĐƯỢC ÁP DỤNG TRONG DỊCH VỤ, THỂ HIỆN RẰNG TẤT CẢ THÔNG TIN TRONG DỊCH VỤ ĐÃ ĐƯỢC SỬA ĐỔI HOẶC CẬP NHẬT.
                    </p>
                    
                    <p class="font-bold mb-1">
                        11. Tài liệu hướng dẫn sử dụng
                    </p>
                    <p class="mb-1">
                        Bạn có thể truy cập và tra cứu các hướng dẫn sử dụng phần mềm tại trang Hướng dẫn sử dụng của chúng tôi. Insa không cung cấp hướng dẫn sử dụng trên văn bản in ấn và bất kỳ hình thức văn bản nào khác ngoài trang trên website chính thức. 
                    </p>
                    
                    <p class="font-bold mb-1">
                        12. Quy định khu vực chung
                    </p>
                    <p class="mb-1">
                        Chúng tôi hoàn toàn có quyền quản lý, thu thập và sử dụng nhưng thông tin trên khu vực chung của Website Insa. Khi bạn đã tạo tài khoản INSA có nghĩa là bạn đã hiểu và chấp nhận việc này. 
                    </p>
                    <p class="mb-4">
                        Mọi yêu cầu của bạn về việc sử dụng nhưng thông tin trên Khu vực Chung cho mục đích cá nhân, có thể bạn sẽ bị chúng tôi tính phí ngoài dịch vụ theo quy định trên hợp đồng.
                    </p>
                   
                    <p class="font-bold mb-1">
                        13. Sử dụng khu vực riêng
                    </p>
                    <p class="mb-1">
                        Khu vực riêng của bạn được bảo vệ bằng mật khẩu và tài khoản Insa của mình. Đây là khu vực chung tôi không có quyền và nghĩa vụ được can thiệp bằng bất kỳ hình thức nào. Bạn toàn quyền sử dụng và tác động như: thêm, bớt, chỉnh sửa, cập nhật,.. nhưng thông tin và dữ liệu trên khu vực này. Phí để sử dụng khu vực này đã bao gồm trong hợp đồng khi khách hàng ký kết với INSA.
                    </p>
                    <p class="font-bold mb-1">
                        14. Tính thực thi của quy định
                    </p>
                    <p class="mb-1">
                        Bât cứ điều khoản vào trên đây được tòa án có thẩm quyền xác nhận là không đúng quy định của luật, trái phép hay vô hiệu không thể thực thi, thì điều khoản đó vẫn sẽ thi hành ở mức tối đa mà pháp luật cho phép. Và chúng hoàn toàn không có bât kỳ sự ảnh hưởng qua lại nào với những điều khoản khả thi khác có trong điều khoản sử dụng của chúng tôi.
                    </p>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
